@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,200&display=swap');
/* weights: 200, 300, 500, 700 */

/* font style italic for 200, delete me */

* {
    margin: 0em;
    padding: 0em;
}

body {
    background-color: #f2f2f2;
}

.landing-page {
    background-color: black;
    background-size: cover;
    width: auto;
    display: flex;
    justify-content: space-between;
}

h1 {
    color: white;
    text-shadow: 0px 0px 5px rgb(255, 255, 255), 0px 0px 20px rgb(0, 0, 0), 0px 0px 40px rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border-bottom: solid rgb(191, 255, 0) 2px;
    margin: 40px 0px 400px 40px;
}

h1 .logo {
    text-shadow: 0px 0px 5px rgb(191, 255, 0), 0px 0px 20px rgb(255, 255, 255), 0px 0px 40px rgb(191, 255, 0);
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 40px 400px 0px;
}

nav ul {
    color: white;
    text-shadow: 0px 0px 5px rgb(255, 255, 255), 0px 0px 20px rgb(0, 0, 0), 0px 0px 40px rgb(255, 255, 255);
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    display: flex;
    /* border: solid rgb(255, 255, 255) 2px; */
}

nav ul li{
    padding: 0px 20px 0px 20px;
    /* border: rgb(4, 159, 249) solid 2px; */
}

a {
    color: white;
    text-decoration: none;
}

a:active {
    text-shadow: 0px 0px 5px rgb(191, 255, 0), 0px 0px 20px rgb(255, 255, 255), 0px 0px 40px rgb(191, 255, 0);
}

h2 {
    color: rgb(233, 0, 0);
    z-index: -23;
}