@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,200&display=swap');
/* weights: 200, 300, 500, 700 */

/* font style italic for 200, delete me */

/* font-family: 'Poppins', sans-serif; */

/* LIME SHADOW */
/* text-shadow: 0px 0px 5px rgb(191, 255, 0), 0px 0px 20px rgb(255, 255, 255), 0px 0px 40px rgb(191, 255, 0); */

/* WHITE SHADOW */
/* text-shadow: 0px 0px 5px rgb(255, 255, 255), 0px 0px 20px rgb(0, 0, 0), 0px 0px 40px rgb(255, 255, 255); */

* {
    margin: 0em;
    padding: 0em;
    font-family: 'Poppins', sans-serif;
}

.background {
    background-color: black;
}

.landing-page h1 {
    color: white;
    text-shadow: 0px 0px 5px rgb(255, 255, 255), 0px 0px 20px rgb(0, 0, 0), 0px 0px 40px rgb(255, 255, 255);
    margin: 1em 0em 0em 2em;
    border-bottom: solid rgb(191, 255, 0) 2px;
}

.logo {
    text-shadow: 0px 0px 5px rgb(191, 255, 0), 0px 0px 20px rgb(255, 255, 255), 0px 0px 40px rgb(191, 255, 0);
}

nav {
    display: flex;
    justify-content: space-between;
}

.links {
    margin: 2em 2em 0em 0em;
    display: flex;
}

.links li {
    justify-content: space-between;
    padding: 0em 2em;
    list-style: none;
}

.links li a {
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 5px rgb(255, 255, 255), 0px 0px 20px rgb(0, 0, 0), 0px 0px 40px rgb(255, 255, 255);
}

.links li a:active {
    text-shadow: 0px 0px 5px rgb(191, 255, 0), 0px 0px 20px rgb(255, 255, 255), 0px 0px 40px rgb(191, 255, 0);
}

.hero-title {
    margin: 4em 0em 0em 2em;
    color: white;
    text-shadow: 0px 0px 5px rgb(255, 255, 255), 0px 0px 20px rgb(0, 0, 0), 0px 0px 40px rgb(255, 255, 255);
}

.hero-paragraph {
    margin: 1em 0em 0em 3em;
    color: white;
    text-shadow: 0px 0px 5px rgb(255, 255, 255), 0px 0px 20px rgb(0, 0, 0), 0px 0px 40px rgb(255, 255, 255);
}